[% TAGS [- -] -%]
{
    "command": {
        "find /etc/ngcp-config/templates/ -type f ! \\( -name *.dpkg-dist -o -name *.dpkg-old -o -name *.dpkg-new -o -name *.dpkg-remove -o -name *.dpkg-bak -o -name *.dpkg-del \\) -print0 |xargs -0 dpkg -S \u003e/dev/null": {
            "exit-status": "0",
            "stdout": [],
            "stderr": []
        }
    }
}
