[% TAGS [- -] -%]
{
    "package": {
        "ngcp-ngcp-ce": {
            "installed": true
        },
        "ngcp-ngcp-pro": {
            "installed": false
        },
        "ngcp-ngcp-carrier": {
            "installed": false
        }
    }
}
