[% TAGS [- -] -%]
{
    "port": {
        "tcp:1443": {
            "listening": true
        },
        "tcp:22": {
            "listening": true
        },
        "tcp:443": {
            "listening": true
        },
        "tcp6:80": {
	    "comment": "why Ipv4 is not here?",
            "listening": true
        }
    }
}
