{
    "dns": {
[% IF sipwise.system_tester.skip_dns_check_test != "true" -%]
        "spce": {
            "resolveable": true,
            "addrs": [
                "127.0.0.2"
            ],
            "timeout": 500
        }
    },
[% END -%]
        "localhost": {
                "resolveable": true,
                "addrs": [
                    "127.0.0.1"
                ],
                "timeout": 500
        }
    }
}
