{
    "command": {
        mysql -Bs mysql -e 'select User,Host,Password from user where (Password="" or  Password="!") and User!="root"': {
            "comment": "There must be no users without password (root is an exception here, customer must set it later)"
            "exit-status": 0,
            "stdout": [],
            "stderr": []
        }
    }
}
