{
    "gossfile": {
        "01_running-processes.json": {},
        "01_hostname-and-interfaces.json": {},
        "02_disk-free.json": {},
        "03_files_availability.json": {},
        "03_no-cores.json": {},
        "04_template_files.json": {},
        "05_system_users.json": {},
        "06_system_packages.json": {},
        "07_system_service.json": {},
        "08_system_ports.json": {},
        "09_system_dns.json": {}
    }
}
