[% PROCESS '/usr/lib/ngcp-ngcpcfg/get_hostname'; hostname = out -%]
[% argv.host=hostname; argv.role='proxy';
  PROCESS '/usr/lib/ngcp-ngcpcfg/has_role';
  is_proxy = out
-%]
[% argv.host=hostname; argv.role='lb';
  PROCESS '/usr/lib/ngcp-ngcpcfg/has_role';
  is_lb = out
-%]
[% argv.host=hostname; argv.role='mgmt';
  PROCESS '/usr/lib/ngcp-ngcpcfg/has_role';
  is_mgmt = out
-%]
[% argv.host=hostname; argv.role='db';
  PROCESS '/usr/lib/ngcp-ngcpcfg/has_role';
  is_db = out
-%]
[% argv.host=hostname; argv.role='rtp';
  PROCESS '/usr/lib/ngcp-ngcpcfg/has_role';
  is_rtp = out
-%]
disk-free:
    /:
        max-used  : 80%
        max-inodes: 80%

running-processes:
    should-run:
        - getty
        - udevd
        - /usr/sbin/acpid
        - /usr/sbin/collectdmon
        - collectd -C /etc/collectd/collectd.conf -f
        - /usr/sbin/cron
        - /usr/sbin/exim4
        - /usr/sbin/mysqld
        - /bin/sh /usr/bin/mysqld_safe
        - /usr/sbin/ntpd
        - /usr/sbin/rsyslogd
        - /usr/sbin/sshd
[% IF is_rtp || is_proxy || is_db -%]
        - /usr/bin/redis-server
[% END -%]
[% IF is_mgmt -%]
[% IF ossbss.frontend == 'apache' -%]
        - /usr/sbin/apache2
        - /usr/bin/logger -p daemon.info -t oss
[% ELSIF ossbss.frontend == 'fcgi' -%]
        - "perl-fcgi-pm \[Sipwise::Provisioning\]"
[% END -%]
        - /usr/sbin/nginx
[% IF www_csc.enable == 'yes' -%]
        - perl-fcgi
[% END -%]
        - "perl-fcgi-pm \[NGCP::Panel\]"
[% END -%]
[% IF is_proxy -%]
        - /usr/sbin/asterisk -g -n
        - /usr/sbin/kamailio -f /etc/kamailio/proxy/kamailio.cfg -P /var/run/kamailio/kamailio.proxy.pid
        - /usr/sbin/ngcp-sems
        - lua5.1 /usr/bin/prosody
        - /usr/bin/mediator
[% IF rateomat.enable == "yes" -%]
        - rate-o-mat
[% END -%]
[% END -%]
[% IF is_lb -%]
        - /usr/sbin/kamailio -f /etc/kamailio/lb/kamailio.cfg -P /var/run/kamailio/kamailio.lb.pid
[% END -%]
[% IF is_rtp -%]
        - /usr/sbin/rtpengine
[% END -%]
