Source: ngcp-system-tests
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: ngcp-system-tests
Architecture: all
Depends:
 asterisk,
 curl,
 goss,
 influx-client,
 iproute2,
 kmod,
 mariadb-server,
 net-tools,
 procps,
 snmp,
 sqlite3,
 ${misc:Depends},
Description: run system tests against NGCP systems
 This package provides test scripts to check the system
 state of the SIP based Open Source Class5 VoIP soft-switch platform
 by Sipwise.com.
