Source: ngcp-system-tests
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.5.1
Homepage: https://www.sipwise.com/

Package: ngcp-system-tests
Architecture: all
Depends:
 curl,
 goss,
 iproute2,
 kmod,
 net-tools,
 procps,
 ${misc:Depends},
Suggests:
 asterisk,
 mariadb-server,
 prometheus,
 snmp,
 sqlite3,
Description: run system tests against NGCP systems
 This package provides test scripts to check the system
 state of the SIP based Open Source Class5 VoIP soft-switch platform
 by Sipwise.com.
