file:
  /var/cores:
    exists: true
    mode: "1777"
    owner: root
    group: root
    filetype: directory
    contains: []

command:
  "ls -la /var/cores/core.*":
    exit-status: 2
    stdout: []
    stderr:
      - "/ls: cannot access '??/var/cores/core.*'??: No such file or directory/"
