file:
  /var/cores:
    exists: false

  /ngcp-data/coredumps:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: directory
    contains: []

  /var/lib/systemd/coredump:
    exists: true
    mode: "0777"
    owner: root
    group: root
    filetype: symlink
    linked-to: /ngcp-data/coredumps

command:
  "ls /ngcp-data/coredumps/":
    exit-status: 0
    stdout:
    - "!/^core\\..+/"
    stderr: []
