file:

  /etc/default/sems-app:
    filetype: file
    exists: false

  /etc/sems-app:
    filetype: directory
    exists: false

  /etc/ngcp-config/templates/etc/sems-app/:
    filetype: directory
    exists: false

  /etc/mysql/mariadb.conf.d:
    exists: false
    filetype: directory

  /etc/mysql/my.cnf.fallback:
    exists: false
    filetype: file

  /etc/mysql/my.cnf.dpkg-dist:
    exists: false
    filetype: file
