package:
  ngcp-ngcp-ce:
    installed: 'false'

  ngcp-ngcp-pro:
    installed: 'true'

  ngcp-ngcp-carrier:
    installed: 'false'

  ngcp-sems:
    installed: 'false'

  ngcp-sems-pbx:
    installed: 'true'

  ngcp-sems-app:
    installed: 'false'

  ngcp-sems-ha:
    installed: 'false'
