process:
  acpid:
    running: true

  cron:
    running: true

  exim4:
    running: true

  getty:
    running: [% general.init_system == 'systemd' ? 'false' : 'true' %]

  mysqld:
    running: true

  mysqld_safe:
    running: [% general.init_system == 'systemd' ? 'false' : 'true' %]

  ntpd:
    running: true

  redis-server:
    running: true

  rsyslogd:
    running: true

  sshd:
    running: true

  systemd-udevd:
    running: true
