[%
  hostname = ngcp.get_hostname();

  is_proxy = ngcp.has_role(hostname, 'proxy');
-%]
[% PERL -%]
    my $node_state = qx(ngcp-check-active -v);
    chomp $node_state;

    $stash->set(node_state => $node_state);
[% END -%]

command:

  lsmod | grep -Eq "^sunrpc ":
    exit-status: 0
    stdout: []
    stderr: []
[% IF is_proxy && node_state == 'active' && rtpproxy.enable == "yes" -%]

  lsmod | grep -c xt_RTPENGINE:
    exit-status: 0
    stdout:
      - '/^2$/'
    stderr: []
[% END -%]
