[%
  hostname = ngcp.get_hostname();

  is_proxy = ngcp.has_role(hostname, 'proxy');
-%]

command:

  lsmod | grep -Eq "^sunrpc ":
    exit-status: 0
    stdout: []
    stderr: []
{{if and [% (rtpengine.enable == "yes" && is_proxy) ? 1 : 0 %] .Vars.NODE_ACTIVE}}

  lsmod | grep -Ec "^(xt_RTPENGINE|nft_rtpengine)":
    exit-status: 0
    stdout:
      - '/^1$/'
    stderr: []
{{end}}
