[%-
IF general.ngcp_type == 'spce';
  ngcp_hostname_match = "spce";
ELSIF general.ngcp_type == 'sppro';
  ngcp_hostname_match = "/sp[12]/";
ELSE;
  ngcp_hostname_match = "/[a-z]+[0-9]{2}[ab]/";
END;
-%]

command:
  hostname:
    exit-status: 0

  ngcp-hostname:
    exit-status: 0
    stdout:
      - "[% ngcp_hostname_match %]"
    stderr: []
