dns:

[% IF sipwise.system_tester.skip_dns_check_test != "true" -%]
[% IF general.ngcp_type == 'spce' -%]
  spce:
    resolveable: true
    addrs:
      - 127.0.0.2
    timeout: 500
[% ELSE -%]
  sp1:
    resolveable: true
    addrs:
      - 192.168.255.251
    timeout: 500

  sp2:
    resolveable: true
    addrs:
      - 192.168.255.252
    timeout: 500

[% END -%]
[% END -%]
  localhost:
    resolveable: true
    addrs:
      - 127.0.0.1
    timeout: 500
