dns:
[% FOR hostname in hosts.keys -%]
  [% host %]:
    resolvable: true
    addrs:
[%-
  argv.host = hostname;
  argv.type = 'ha_int';
  PROCESS '/usr/lib/ngcp-ngcpcfg/get_all_ips_for_host';
  ha_ip = out;
%]
      - [% ha_ip.0 %]
    timeout: 500

[% END -%]
