port:
  # OpenSSH
  tcp:22:
    listening: true
    ip: ["0.0.0.0"]

  tcp6:22:
    listening: true
    ip: ["::"]

  # Exim MTA
  tcp:25:
    listening: true
    ip: ["127.0.0.1"]

  # NTP (systemd-timesyncd does not listen)
  udp:123:
    listening: false

  # Check for a closed port, nothing there.
  tcp:7777:
    listening: false

  # Check for a closed port, nothing there.
  udp:7777:
    listening: false
