file:

  /etc/default/grub:
    exists: true
    mode: "0644"
    owner: root
    group: root
    filetype: file
    contains: ['!/^GRUB_CMDLINE_LINUX_DEFAULT=".*net.ifnames=0.*"/']

command:

  ip link:
    exit-status: 0
    stdout: ['/: n?eth[0-9]/']
    stderr: []
