command:

  influx -execute 'show databases':
    exit-status: 0
    stdout:
    - "/^name: databases$/"
    - "/^_internal$/"
    - "/^ngcp$/"
    - "/^telegraf$/"
    stderr: []
    timeout: 10000

