[%
  hostname = ngcp.get_hostname();

  is_mgmt = ngcp.has_role(hostname, 'mgmt');
  is_li_dist = ngcp.has_role(hostname, 'li_dist');
-%]

[% IF grafana.enable == 'yes' && (is_mgmt || is_li_dist) -%]
file:

  /var/lib/grafana/grafana.db:
    exists: true
    filetype: file
    size:
      not: 0

command:

  sqlite3 /var/lib/grafana/grafana.db "select name from data_source":
    exit-status: 0
    stdout:
    - "/^Prometheus$/"
    stderr: []
[% END -%]
