[%
  hostname = ngcp.get_hostname();

  is_proxy = ngcp.has_role(hostname, 'proxy');
-%]

command:

{{if [% (is_proxy && asterisk.enable == 'yes') ? 1 : 0 %] and .Env.NODE_ACTIVE}}
  asterisk -rx "odbc read ODBC_VMGREETUNAVAIL test exec":
    exit-status: 0
    stdout:
    - "/Returned 1 row/"
    stderr: []
    timeout: 10000
{{else}}
  echo "The test for active node with enabled asterisk and proxy role only":
    exit-status: 0
    stdout: []
    stderr: []
    timeout: 10000
{{end}}
